{% extends 'base.html.twig' %}

{% block title %}Infos personnelles{% endblock %}

{% block body %}
    <nav class="navbar navbar-expand-lg navbar-light bg-info "><div class="navbar-brand text-white"><h3>Bienvenue au musée du Louvre<h3> </div></nav>
    <div class="global-container border border-dark">
        <div class="container-info text-center border border-dark">
            <div>Vous souhaitez acheter votre billet en ligne</div>
            <div>Merci de renseigner votre identité</div>
        </div>
        <div class="m-3 pb-3 pt-3 border">
            {{ form_start(form)}}

            <div class="form-group">
                {{ form_label(form.last_name, "", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                {{ form_errors(form.last_name) }}
                <div class="col-sm-4">
                    {{ form_widget(form.last_name, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label(form.first_name, "", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                {{ form_errors(form.first_name) }}
                <div class="col-sm-4">
                    {{ form_widget(form.first_name, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label(form.country, "", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                {{ form_errors(form.country) }}
                <div class="col-sm-4">
                    {{ form_widget(form.country, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>

            <div class="">
                {{ form_label(form.bithdate, "", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                {{ form_errors(form.bithdate) }}
                <div class="col-sm-4">
                    {{ form_widget(form.bithdate, {'attr': {'class': 'datepicker'}}) }}
                </div>
            </div>



            <div class="form-group">
                {{ form_label(form.email, "", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                {{ form_errors(form.email) }}
                <div class="col-sm-4">
                    {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>



            <button class="btn badge-success" type="submit">Valider</button>
            {{ form_end(form) }}
        </div>
    </div>

    <footer>
        <div class="bas">
            <div class="container-fluid  text-center  mt-2">


                {% block footer %}{% endblock %}

                <div class="footer-copyright text-white  ">
                    © 2018 Copyright:
                    <a> Anne Gasté </a>
                </div>
            </div>

        </div>
    </footer>

{% endblock %}

