{% extends 'base.html.twig' %}

{% block title %}Infos personnelles{% endblock %}

{% block body %}
    <div class="global-container">
    <section>
        {{ form_start(form) }}
            {{ form_row(form.last_name) }}
            {{ form_row(form.first_name) }}
            {{ form_row(form.country) }}
            {{ form_row(form.bithdate) }}
            {{ form_row(form.email) }}

        <button type="submit">Valider</button>
        {{ form_end(form) }}
    </section>
    </div>

{% endblock %}
