{% extends 'base.html.twig' %}

{% block title %}Billet{% endblock %}

{% block body %}
    <section>
        {{ form_start(form) }}
        {{ form_row(form.type) }}
        {{ form_row(form.visit_date) }}
        {{ form_row(form.is_half) }}

        <button type="submit">Valider</button>
        {{ form_end(form) }}
    </section>
{% endblock %}
